/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  position: relative;
  border: 2px solid #4e75ff;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 15px auto;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 4px;
  top: 4px;
  border: 2px solid #627ee5;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-container {
  text-align: center;
}

.form input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #b1b1b1;
}

.form input:hover,
.form input:focus {
  border-radius: 8px;
  border-color: #555555;
}

.form button {
  width: 90px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #4e75ff;
  color: #ffffff;
}

.form button:hover,
.form button:focus {
  background-color: #627ee5;
  border-radius: 8px;
  color: #000000;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 20px;
}

.gallery-image {
  width: 200px;
  height: 140px;
}

.gallery-item {
  border: 1px solid #282828;
  border-radius: 1px;
  margin-left: auto;
  margin-right: auto;
}

.image-info {
  display: flex;
  gap: 4px;
  padding-left: 4px;
  padding-right: 2px;
}
